<h1>Mindful</h1>
<p>Create a new task or click on the current task</p>

<p>{{taskName}}</p>
<p>{{taskOwner}}</p>
<p>{{taskEmail}}</p>
<p>{{taskDate}}</p>
<p>{{taskStatus}}</p>

<button>{{newTask}}</button>
